[submodule "projects/BitCrusher"]
	path = projects/BitCrusher
	url = https://github.com/MariusBoucard/BitCrusher
[submodule "projects/template"]
	path = projects/template
	url = https://github.com/MariusBoucard/template.git
[submodule "pythonLib"]
	path = pythonLib
	url = https://github.com/MariusBoucard/pythonLib.git
[submodule "libraries/AudioDSPTools"]
	path = libraries/AudioDSPTools
	url = https://github.com/MariusBoucard/AudioDSPTools.git
	branch = main
[submodule "libraries/NeuralAmpModelerCore"]
	path = libraries/NeuralAmpModelerCore
	url = https://github.com/MariusBoucard/NeuralAmpModelerCore.git
    branch = main
[submodule "projects/EQStrip"]
	path = projects/EQStrip
	url = https://github.com/MariusBoucard/EQStrip.git
[submodule "projects/faustPedalSaturator"]
	path = projects/faustPedalSaturator
	url = https://github.com/MariusBoucard/faustPedalSaturator.git
[submodule "projects/NeuralAmpPlugin"]
	path = projects/NeuralAmpPlugin
	url = https://github.com/MariusBoucard/NeuralAmpPlugin
[submodule "projects/delayVue"]
	path = projects/delayVue
	url = https://github.com/MariusBoucard/ballzzyDelay.git
[submodule "projects/Mayerism"]
	path = projects/Mayerism
	url = https://github.com/timpelser/Mayerism.git
[submodule "projects/BallzzyArchetype"]
	path = projects/BallzzyArchetype
	url = https://github.com/MariusBoucard/BallzzyArchetype.git
